#base{
   font-family: "Ubuntu", sansSerif;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
};

.introduction{
   width: 35vw;

   h1{
      font-size: 3rem;
      text-align: left;
   }

   p{
      font-size: 1.5rem;
      text-align: left;
   }
}