#returnHome{
   font-family: "Mrs Sheppards", sans-serif;
   font-size: 2.5em;
   color: whitesmoke;
   text-decoration: none;
   opacity: 0.5;
   transition: 300ms
}

#returnHome:hover{
   opacity: 1;
}