#returnHome{
   font-family: "Mrs Sheppards", sans-serif;
   font-size: 3em;
   text-decoration: none;
   color: rgb(50,50,50);
   opacity: 0.75;
   margin-left: 5rem;
   transition: opacity 300ms ease;
}

#returnHome:hover{
   opacity: 1;
}

#links{
   position: absolute;
   display: flex;
   align-items: center;
   right: 0;
   top: 0;
   margin-right: 2rem;
   height: 100%;
}

.link{
   margin: 0 2rem;
   padding: 0.25em 0.5rem;
   font-size: 1.75rem;
   font-family: "Bebas Neue", sans-serif;
   letter-spacing: 2.5px;
   position: relative;
   user-select: none;
   outline: none;
   color: rgb(24, 24, 24);
   text-decoration: none;
}

.link::after {
   content: "";
   position: absolute;
   left: 50%;
   bottom: 11px;
   z-index: -1;
   width: 0;
   height: 0.3em;
   opacity: 0;
   background:rgba(143, 219, 181, 0.856);
   transition: all 350ms cubic-bezier(0.5, 1.6, 0.15, 0.9);
}

.link:hover::after {
   left: 0;
   width: 100%;
   opacity: 1;
}