#home{
    display: flex;
    font-size: 5em;
    height: 100vh;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    flex-flow: column;
    text-align: center;

    h1{
        font-size: 14vh;
    }

    h3{
        font-size: 3vh;
    }

    p{
        font-size: 3vh;
    }
}

#external_links{
    width:100%;
}

.image_links{
    margin: 0 1rem;
}

.icons{
    color: rgb(24, 24, 24);
    opacity: 0.75;
    font-size: 2rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icons:hover{
    opacity: 1;
    transform: translateY(-5px);
}