#home{
    font-size: 5em;
    min-height: 100vh;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72.5vh;

    @media screen and (max-width: 1200px){
        flex-direction: column;
    }
}

#name{
    height: auto;
    p{
        font-size: 10.5vw;

        @media screen and (max-width: 1200px){
            font-size: 8.5rem;
        }

        @media screen and (max-width: 960px){
            font-size: 6rem;
        }

        @media screen and (max-width: 600px){
            font-size: 4.5rem;
        }
    }
}

#brush_stroke{
    background: url('../assets/img/brush-stroke.png');
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 1rem 7.5rem;

    @media screen and (max-width: 600px){
        padding: 1rem 3rem;
    }
}

#self-portrait{
    width: 22.5vw;
    margin-left: 2.5rem;
    border-radius: 2rem;
    box-shadow: 10px 10px rgba(122, 63, 181, 0.5);
    transition: box-shadow 0.3s ease;

    @media screen and (max-width: 1200px){
        margin-left: 0;
        transform: translateY(-100px);
        width: 24.5rem;
    }

    @media screen and (max-width: 960px){
        transform: translateY(-50px);
        width: 22rem;
    }

    @media screen and (max-width: 600px){
        width: 18rem;
    }
}

#self-portrait:hover{
    box-shadow: 5px 5px rgba(122, 63, 181, 0.5);
}

@font-face{
    font-family: "Unforgotton";
    src: url("../assets/fonts/unforgotten.regular.ttf");
}