body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(5, 25, 25);
    color: whitesmoke;
}
.particles {
    height: 100vh;
    position: fixed;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}