li{
   padding: 0.75% 1%;
   display: inline-block;
   font-size: 1.5rem;
   
   @media screen and ( max-width: 1024px ){
      font-size: 1rem;
   }

   @media screen and ( max-width: 600px ){
      font-size: 0.75rem;
   }
}

#skills_section{
   font-family: "Ubuntu", sansSerif;
   min-height: 87.5vh;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;

   @media screen and ( max-width: 1024px ){
      flex-direction: column;
   }
}

#skills{
   width: 60vw;
   text-align: left;

   @media screen and ( max-width: 1024px ){
      width: 85vw;
   }

   @media screen and ( max-width: 600px ){
      width: 90vw;
   }
}

#coding li{
   background-color: rgba(16, 175, 95, 0.555);
   border-radius: 0.15em;
   margin: 0.5% 1%;
}

#interests li{

   background-color: rgba(236, 73, 73, 0.39);
   border-radius: 0.15em;
   margin: 0.5% 1%;
}

.categories{
   list-style-type: none;

   h1{
      font-size: 2rem;
      margin-bottom: 1rem;
      font-family: "Bebas Neue", sans-serif;
      letter-spacing: 2.5px;
   }

   @media screen and ( max-width: 600px ){
      h1{
         font-size: 1.5rem;
         letter-spacing: 2px;
      }
   }

   @media screen and ( max-width: 450px ){
      h1{
         font-size: 1rem;
         letter-spacing: 2px;
      }
   }
}

.languageProficiency{
   padding: 0.25em;
   background-color: rgba(44, 196, 196, 0.39);
   border-radius: 0.15em;
   font-size: 1em;
   display: inline-block;
}