#mobile_navigation{
   height: 100%;
   background: whitesmoke;
   display: flex;
   position: fixed;
   z-index: 1; 
   top: 0;
   left: 0;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   overflow-x: hidden;
   transition: 0.5s ease;

   @media screen and (min-width: 1200px){
      display: none;
   }
}

#mobile_links_ul{
   padding: 0;
   
   li{
      display: block;
      padding: 1rem 0;
   }

}

#mobile_external_links{
   margin-top: 25px;
   height: 6vh;
   min-width: 100%;
   overflow: hidden;
   transition: opacity 0.3s ease;

   @media screen and (max-width: 960px){
      height: 5vh;
   }

   @media screen and (max-width: 600px){
      height: 4vh;
   }
}

#mobile_nav_trigger{
   opacity: 1;
   transition: opacity 0.2 ease;
}

#mobile_nav_trigger{
   position: fixed;
   top: 0;
   left: 0;
   width: 3rem;
   transform: translate(25px,25px);
   transition: opacity 0.25s ease;

   @media screen and (max-width: 960px){
      width: 2.5rem;
   }

   @media screen and (max-width: 600px){
      width: 2rem;
   }
}

#mobile_nav_trigger:hover{
   cursor: pointer;
}

.mobile_links{
   color: rgb(24, 24, 24);
   font-family: "persona5";
   letter-spacing: 5px;
   text-decoration: none;
   font-size: 5rem;

   @media screen and (max-width: 960px){
      font-size: 4rem;
   }

   @media screen and (max-width: 600px){
      font-size: 3rem;
   }
}

.image_links_mobile{
   margin: 0 2rem;
   @media screen and (max-width: 960px){
      margin: 0 1rem;
   }
}

.mobile_icon{
   color: rgb(24, 24, 24);
   opacity: 0.75;
   font-size: 6vh;
   transition: opacity 0.3s ease;

   @media screen and (max-width: 960px){
      font-size: 5vh;
   }

   @media screen and (max-width: 600px){
      font-size: 4vh;
   }
}

.mobile_icon:hover{
   opacity: 1;
}

@font-face{
   font-family: "persona5";
   src: url('../../../../assets/fonts/persona5.ttf');
}